.c-content h1 {
	text-align: center;
	margin: 0;
}
textarea {
	height: 50%;
}
table {
    background: white;
    margin-bottom: 1.25rem;
    border: solid 2px #ecf0f1;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table thead {
    background: whitesmoke;
}
table thead tr th, table thead tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: left;
}
table tr:nth-of-type(even) {
    background: #f9f9f9;
}
table thead tr th, table tbody tr td, table tr td {
    line-height: 1.125rem;
}
table tr th, table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
}
@media only screen and (max-width : 800px) {  
	.competitors th:nth-child(4), .competitors td:nth-child(4) {
		display: none;
	}
}
@media only screen and (max-width : 600px) {  
	.competitors th:nth-child(3), .competitors td:nth-child(3) {
		display: none;
	}
}