@font-face {
	font-family: 'pacifico';
	src: url('fonts/Pacifico.ttf');
}
@font-face {
	font-family: 'oxygen';
	src: url('fonts/Oxygen-regular.ttf');
}
.console {
    border: 15px solid #4c4c4c;
    border-top: 30px solid #4c4c4c;
    height: calc(100% - 100px);
    border-radius: 3px;
    overflow: auto;
	width: calc(100% - 30px);
	margin: 0;
	background-color: white;
	min-height: 200px;
}

.c-head {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 60px;
    height: 24px;
    background-image: url("http://nodejs.org/images/logo.svg");
    background-size: 60px 24px;
    z-index: 20;
}

.c-content {
    margin: 15px;
}

.c-log {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.c-log h3 {
    margin: 0;
}

.c-log p:last-child {
    margin-bottom: 0;
}

.c-log p:first-child {
    margin-top: 0;
}

.c-output {
    margin-top: 5px;
}

.error {
    color: red;
}

.c-input {
    margin: 15px;
}
.c-inputspan:before {
	content: ">";
}
.c-inputbox {
    width: calc(100% - 20px);
    display: inline-block;
    margin-left: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgrey;
}
.CodeMirror {
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
	height: auto !important;
}
.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	height: auto;
}

.meter {
    height: 10px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	width: 40%;
}

.meter > span. {
    display: block;
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(linear, left bottom,left top,color-stop(0, rgb(43,194,83)),color-stop(1, rgb(84,240,84)));
    background-image: -moz-linear-gradient(center bottom,rgb(43,194,83) 37%,rgb(84,240,84) 69%);
    -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
	transition:width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition: width 1s; /* Opera */
}

.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.lineError {
	background-color: #ff6 !important;
}
.c-circle {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background-color: #6c6e74;
	position: absolute;
	margin-top:-22px;
}
.console > .c-circle:nth-child(2) {
	margin-left: 20px;
}
.console > .c-circle:nth-child(3) {
	margin-left: 40px;
}
body {
	margin: 0;
	font-family: 'oxygen';
	/*background-image: url('bg.jpg');
	background-size: cover;*/
	background-color: #FFFFFF;
	min-width: 400px;
	min-height: 200px;
}
header:not(.supportForumThreads) {
	height: 70px;
	background: #202020;
	/*-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 1);*/
	padding-left: 5%;
	padding-right: 5%;
	color: #fff;
	border-bottom: solid 1px #4C4C4C;
}
header>h1 {
	font-family: "pacifico";
	margin: 0;
	position: absolute;
	font-size: 2.2em;
}
header>h1>a {
	color: #fff;
	text-decoration: none;
}
header>nav {
	float: right;
	display: inline-block;
	font-size: 1.2em;
	margin: 0;
	height: 71px;
	cursor: pointer;
	margin-bottom: 29px;
}
nav>a {
	margin: 0;
	text-decoration: none;
	color: white;
	line-height: 3.7;
	border-right: 1px solid #444;
	display: inline-block;
	height: 70px;
	width: 95px;
	margin-left: -7px;
	text-align: center;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
nav>a:first-child {
	border-left: 1px solid #444;
}
nav>a:hover {
	background-color: 4C4C4C;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 1);
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

section {
	margin: 0 auto;
	width: 80%;
	height: calc(100% - 141px);
}
aside + section {
	width: 60%;
	float: left;
}

footer {
	background-color: #EEE9E9;
	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: Solid 1px #CDC9C9;
	text-align: center;
	margin-top: 50px;
}
footer>span {
	top: 15px;
	position: relative;
}
footer>span>a {
	color: black;
	text-decoration: none;
}
#resNav {
	display: none;
	float: right;
	width: 95px;
	margin-left: -10px;
	cursor: pointer;
}
#resNavDrop {
	max-height: 0px; 
	background-color: #202020;
	z-index: 100;
	position: relative;
	width: 95px;
	margin-left: -6px;
	text-align: middle;
	border-bottom: #444;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}
#resNavDrop>a {
	display: block;
	clear: both;
	width: 95px;
	border: none;
	margin: 0;
	border-top: 1px solid #444;
}

aside.searchSide {
	display: block;
	width: 20%;
	float: left;
	height: calc(100% - 140px);
	background-color: #f5f5f5;
	margin-right: 50px;
	min-height: 245px;
	border-right: 1px solid #e9e9e9;
}
aside.searchSide > div > h1 {
	margin: 0;
}
aside.searchSide > div > ol > li > ol > li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}
.green {
	background-color: lightgreen;
}
.search {
	display: block;
	padding: 6px 15px 6px 15px;
	margin: 6px auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: #000;
	border: 1px solid #d0d0d0;
	background-color: #fcfcfc;
	width: 90%;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.search:focus {
	box-shadow: 0 0 1px #4c4c4c;
	-moz-box-shadow: 0 0 1px #4c4c4c;
	-webkit-box-shadow: 0 0 1px #4c4c4c;
}

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.accordion li {
    list-style: none;
	white-space: nowrap;
}
.accordion li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 40px;
 
    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
 
    background: #4c4c4c;
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.accordion li > a span {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;
 
    font: normal bold 12px/18px Arial, sans-serif;
    background: #2A2C31;
 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}
.sub-menu li a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
 
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
 
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);

	overflow:hidden;
	text-overflow: ellipsis;
}
 
.sub-menu li:last-child a { border: none; }
 
.sub-menu li > a span {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: transparent;
    border: 1px solid #c9c9c9;
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
 
.sub-menu em {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
    color: #a6a6a6;
    font: normal 10px/32px Arial, sans-serif;
}
.accordion > li:hover > a {
    color: #1F1F1F;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    background: #a5cd4e;
}
 
.accordion > li:hover > a span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #3e5706;
}
 
.sub-menu li:hover a { background: #efefef; }
.accordion li > .sub-menu {
    height: 0;
    overflow: hidden;
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#modal {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 9;
	opacity: 0.6;
	background-color: #000;
	display: none;
}
#dialog {
	min-height: 276px;
	height: 80%;
	min-width: 400px;
	width: 60%;
	color: #000;
	background-color: #F6F6F6;
	border: 3px solid #4c4c4c;
	display: inline-block;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	text-align: center;
	top: 50%;
	z-index: 10;
	min-width: 450px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: opacity .5s, top .5s, height .1s;
	-moz-transition: opacity .5s, top .5s, height .1s;
	-ms-transition: opacity .5s, top .5s, height .1s;
	-o-transition: opacity .5s, top .5s, height .1s;
	transition: opacity .5s, top .5s, height .1s;
	overflow: auto;
}
#dialog::-webkit-scrollbar, .console::-webkit-scrollbar {
	width: 16px;
	background-color: #ccc;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
#dialog::-webkit-scrollbar-thumb, .console::-webkit-scrollbar-thumb {
	background-color: #a1a1a1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#dialog::-webkit-scrollbar-thumb:active, #dialog::-webkit-scrollbar-thumb:hover, .console::-webkit-scrollbar-thumb:active, , .console::-webkit-scrollbar-thumb:hover {
	background-color: #919191;
}
.console::-webkit-scrollbar, .console::-webkit-scrollbar-thumb {
	border-radius: 0;
}
#dialog .close {
	position: absolute;
	left: calc(96% - 5px);
	top: 1%;
	font-size: 1.2em;
	color: #fff;
	width: 20px;
	height: 20px;
}
#dialog .close:hover {
	font-weight: bolder;
	cursor: pointer;
}
#forum {
	text-align: left;
}
.back {
	position: absolute;
	left: 10px;
	font-size: 3em;
	cursor: pointer;
}
header.supportForum > h2 {
	padding-top: 0.8em;
	margin: 0;
	text-align: center;
}
.meta {
	float: right;
	font-size: 0.8em;
}
.meta span:hover {
	text-decoration: underline;
	cursor: pointer;
}
.postNew, .postReply {
	background-color: #202020;
	width: 120px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 2.7%;
	font-size: 0.8em;
	cursor: pointer;
}
.postNew:hover, .postReply:hover {
	background-color: #333;
}
.postReply {
	margin-left: 0;
	float: right;
	margin-top: 0;
}
table.supportForum, table.supportForumThread {
	margin: 5px auto 0 auto;
	padding: 0;
	width: 95%;
	text-align: left;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #a1a1a1;
	margin-bottom: 5px;
}
table.supportForum tbody tr {
	cursor: pointer;
}
table.supportForum tbody tr:hover {
	background-color: #E6E6E6;
}
table.supportForum thead {
	background-color:#202020;
	color: white;
	border-bottom: 1px solid #a1a1a1;
}
table.supportForum thead tr {
	height:40px;
}
table.supportForum td span {
	font-size: 0.8em;
	margin-left: 10px;
}
table.supportForum td {
	padding-left: 15px;
}
table.supportForum td:first-child {
	width: 70%;
}
table.supportForum td:last-child {
	font-size: 0.8em;
}
table.supportForum tr:not(:last-child), table.supportForumThread tr:not(:last-child) {
	border-bottom: 1px solid #a1a1a1;
}
table.supportForumThread td:nth-child(1) {
	text-align: center;
	width: 20%;
	border-right: 1px solid #a1a1a1;
}
table.supportForumThread td:nth-child(2) {
	vertical-align: top;
	padding: 5px;
}
textarea, input, select {
	height: auto;
	position: relative;
	padding: 0 5px;
	background: #fff;
	border: none;
	border: 1px solid #a1a1a1;
	border-radius: 4px;
	max-width: 100%;
	width: 100%;
	margin: 0;
	outline: none;
	resize: none;
	-webkit-appearance: none;
	font-family: oxygen;
	font-weight: 300;
	font-size: medium;
	margin-bottom: 5px;
}
select {
	width: 50%;
	-webkit-appearance: menulist;
}
.invalid {
	border: 1px solid #ff0000;
}
.NewForm {
	text-align: center;
	margin-top: 5px;
}
.NewForm .postReply {
	margin-right: 5%;
	margin-top: 0px;
	margin-bottom: 5px;
}
textarea {
	height: 75%;
}
textarea.fullSize {
	height: 70%;
	width: 90%;
}
input.fullSize {
	width: 90%;
	height: 25px;
}
table.supportForumThread > tbody > tr > td:hover .medals {
	display: block;
}

.medals {
  position: absolute;
  z-index: 10;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.medals.right {
  margin-left: 17%;
}
.medals-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.medals-title:empty {
  display: none;
}

.medals-content {
  padding: 9px 14px;
}

.medals .arrow,
.medals .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.medals .arrow {
  border-width: 11px;
}

.medals .arrow:after {
  border-width: 10px;
  content: "";
}
.medals.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.medals.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.medal {
	width: 50px;
	height: 50px;
	background-color: #FFD700;
	border-radius: 50px;
	display: inline-block;
	margin-left: 5px;
	color: #ba9d00;
	font-weight: bold;
	text-align: center;
	font-size: 0.8em;
}
.medal > span {
	line-height: 50px;
}
.signupModal #forum {
	text-align: center;
}
.about, .login {
	margin-top: 2%;
	text-align: center;
}
.login input, .signup input {
	width: 50%;
}
.loginModal {
	width: 40% !important;
	height: 276px !important;
}
.signupModal {
	width: 40% !important;
	height: 300px !important;
}
.form label {
	display: inline-block;
	text-align: left;
}
.form div {
	margin-bottom: 5px;
}
.form.signupForm {
	margin-top: 10px;
}
.form.signupForm label {
	width: 134px;
}
.form.loginForm label {
	width: 80px;
}
.form input[type="text"], .form input[type="password"], .form input[type="email"] {
	border: 1px solid;
	border-color: #999 #ccc #ccc;
	margin: 0;
	padding: 2px;
}
.loginForm .postNew {
	margin-left: 15%;
}
.logoutForm  .postNew {
	margin-left: calc(50% - 60px);
}
.signupForm .postNew {
	margin-left: 10%;
}
.Error {
	color: #ff0000;
}
.locked {
	color: #AFAFAF !important;
}
.userMedals {
	margin: 0 auto;
	margin-top: 10px;
}

@media only screen and (max-width : 800px) {  
	header>nav {
		display: none;
	}
	#resNav {
		display: block;
	}
}
@media only screen and (max-height : 440px) {  
	footer {
		display: none;
	}
	aside.searchSide {
		height: 100%;
	}
}
@media only screen and (max-height : 274px) {
	aside.searchSide {
		height: 274px;
	}
}
@media only screen and (max-width : 815px) {
	aside.searchSide {
		display: none;
	}
	aside + section {
		width: calc(100% - 30px);
		float: none;
	}
}