@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?40277110');
  src: url('font/fontello.eot?40277110#iefix') format('embedded-opentype'),
       url('font/fontello.woff?40277110') format('woff'),
       url('font/fontello.ttf?40277110') format('truetype'),
       url('font/fontello.svg?40277110#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
	margin: 0;
	font-family: Calibri, san-serif;
}
section {
	margin: 50px auto;
	width: 960px;
}
form.adminLogin {
	margin: 0 auto;
	width: 400px;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0 0 5px grey;
	background-color: white;
}
form.adminLogin label {
	margin-left: 40px;
	color: grey;
}
form.adminLogin input[type='text'],form.adminLogin input[type='password'] {
	margin-left: 40px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: Solid Grey 1px;
	box-shadow: inset 0 0 2px Grey;
	height: 35px;
	width: 78%;
	font-size: 15pt;
	padding-left: 5px;
	color: #383838;
}
form.adminLogin input[type='submit'] {
	height: 30px;
	width: 60px;
	font-size: 12pt;
	margin-left: 291px;
	color: #000;
}
h1 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 25pt;
	color: #383838;
}
#loginError {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	color: red;
	margin-top: 0;
	text-align: center;
}
input.error {
	outline: none;
	border: 1px solid rgba(255, 0, 0, 1) !important;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
input.error:focus {
	box-shadow: 0 0 5px rgba(255, 0, 0, 1) !important;
}
label.error {
	color: red !important;
}
#adminBar {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% 'Lucida Sans Unicode', 'Trebucher Unicode MS', 'Lucida Grande', Verdana, Gelvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: #373737;
	background-image: linear-gradient(to top, #373737 0, #464646 95%);
	color: lightgrey;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
#adminbar ul {
	height: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#adminBar li {
	float: left;
	padding: 0px;
	border-right: 1px solid #333;
}
#adminBar li.logo {
	width: 50px;
}
#adminBar li.logo a {
	line-height: 0;
}
#adminBar ul>li>a {
	color: #ccc;
}
#adminBar li a {
	display: block;
	font-weight: normal;
	line-height: 30px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}
#adminBar li.logo > a {
	padding-left: 8px !important;
}
#adminBar li ul {
	background: #464646;
	display: none;
	height: auto;
	padding: 0;
	margin: 0;
	border: 0;
	position: absolute;
	width: 150px;
	z-index: 200;
}
#adminBar li:hover ul {
	display: block;
}
#adminBar li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
}
#adminBar li:hover li a {
	background: none;
}
#adminBar li ul a {
	display: block;
	height: 30px;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}
#adminBar lu ul a:hover, #adminBar li ul li:hover > a {
	border: 0;
	text-decoration: none;
	background: #464646;
	background-image: linear-gradient(to top, #373737 0, #464646 95%)
}
#adminBar p {
	clear: left;
}

#stats {
	background: #f5f5f5;
	background-image: linear-gradient(to top, #f5f5f5, #f9f9f9);
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 0px;
	color: #333;
	/* float: left; */
	width: 100%;
}
#stats h3 {
	font-size: 15px;
	font-weight: 400;
	padding: 7px 10px;
	margin: 0;
	line-height: 1;
	border-bottom: 1px solid #dfdfdf;
	-webkit-user-select: none;
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
}
.bottom {
	font-size: 12px;
	padding-top: 20px;
	margin: 10px 0;
	position: relative;
	padding: 0 12px 0 10px;
	line-height: 1.4em;
	/* float: left; */
	width: 95%;
}
.content, .activity, .notes {
	border-top: 1px solid #ececec;
	width: 95%;
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 20px;
}
.activity, .notes {
	margin-top: 30px;
}
.sub {
	padding: 5px 0;
	color: #8f8f8f;
	font-size: 15px;
	top: -17px;
	position: absolute;
	margin: -8px -12px;
	/* margin: -12px; */
	left: 15px;
	line-height: 1.4em;
}
div.content ul, div.activity ul {
	list-style: none;
	margin-top: 5px;
	padding-left: 10px;
	font-size: 1.2em;
}
div.content span.row_title, div.activity span.row_title {
	font-weight: bold;
	display: inline-block;
	float: left;
	width: 30px;
	text-align: right;
}
div.content span.row_data, div.activity span.row_data {
	display: block;
	margin-left: 40px;
}
div.activity span.row_title {
	width: 120px;
}
div.activity span.row_data {
	margin-left: 130px;
}

#settings li span.row_setting {
	display: inline-block;
	float: left;
	text-align: right;
	width: 70px;
	padding-right: 5px;
	border-right: 1px solid #ccc;
}
#settings li.head {
	font-weight: bold;
}

#settings li span.row_value {
	display: block;
	margin-left: 80px;
}
#settings li input.row_value {
	display: block;
	margin-left: 80px;
	height: 16px;
	font-size: 0.8em;
}
#settings li {
	padding-bottom: 2.5px;
	margin-bottom: 2.5px;
	border-bottom: 1px Solid #ccc;
}

textarea {
	width: 100%; height: 170px; padding:5px; margin-top:5px; 
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(left, #f5f5f5 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to right, #f5f5f5 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #333;
}
textarea::-webkit-input-placeholder, #addForm input[type="text"]::-webkit-input-placeholder  {
   	color: #8A8A8A;
}
textarea:-moz-placeholder, #addForm input[type="text"]::-moz-placeholder {
    color: #8A8A8A; 
}
#addForm textarea {
	width: 30%;
	height: 50px;
}
#addForm input[type="text"], #addForm input[type="date"], #addForm input[type="time"] {
	width: 30%;
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(left, #f5f5f5 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f5f5f5 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to right, #f5f5f5 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	border: 1px solid rgb(169, 169, 169);
	padding: 5px;
}
#addForm input[type="submit"] {
	margin-top: 7px;
}
#alert {
    position: absolute;
	z-index: 100;
	width: 100%;
	left: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: orange;
    background-image: -webkit-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.05) 25%,
                      hsla(0,0%,0%,.05) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.05) 75%,
                      hsla(0,0%,0%,.05));
    background-image: -moz-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-image: linear-gradient(135deg, transparent,
                      transparent 25%, hsla(0,0%,0%,.1) 25%,
                      hsla(0,0%,0%,.1) 50%, transparent 50%,
                      transparent 75%, hsla(0,0%,0%,.1) 75%,
                      hsla(0,0%,0%,.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6 !important;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 30; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 30; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 30; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 30; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 30; }
}

ul#categories, ul#boards, ul#ranks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  margin-top: 5px;
}
 
ul#categories li , ul#boards li, ul#ranks li {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  display: block;
 
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
 
ul#categories li:last-child, ul#boards li:last-child, ul#ranks li:last-child {
  border: none;
}
 
ul#categories li:hover, ul#boards li:hover, ul#ranks li:hover {
  background: #F1F1F1;
}

ul#categories span, ul#boards span, ul#ranks span {
	display: block;
}

ul#boards li.category {
	font-weight: bold;
	background-color: #E6E6E6;
	cursor: initial;
}

span.desc {
	padding-left:15px;
	font-size:0.8em;
}
span.edit {
	left: 90%;
	position: relative;
	top: -15px;
	display: inline !important;
}
span.datetime {
	padding-left: 25px;
	font-size: 0.7em;
}
span#delete {
	display: block;
	width: 200px;
	line-height: 50px;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 1.2em;
	vertical-align: middle;
	text-align: center;
	border: 3px dashed #ccc;
	margin-bottom: 5px;
	font-weight: bold;
	color: #747474;
}
span#delete.dragover {
	background-color: #00bbf2;
	border-color: #0f92bd;
}
select {
	display: block;
	width: 30%;
	height: 28px;
	padding: 0 12px;
	color: #555;
	background: #f5f5f5;
	background-image: linear-gradient(to top, #f5f5f5, #f9f9f9);
	border: 1px solid rgb(169, 169, 169);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 5px;
}
#addForm {
	margin-top: 5px;
}
ul#users li.Head {
	font-weight: bolder;
}
ul#users li span{
	display: inline-block;
}
ul#users li {
	border-bottom: 1px solid #ccc;
}
span.name {
	width: 10%;
}
span.email {
	width: 16%;
}
span.role {
	width: 11%;
}
span.registered, span.lastonline {
	width: 17%;
}
span.progress {
	width: 10%;
}
span.ban {
	width: 8%;
}



.container {
    margin: 50px auto;
    width: 380px;
}

/* ========================================================
   Icons
   =====================================================
   ================================================== */

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  color: #000;
  text-decoration:none;
}

.icon-plus:before { content: '\e800'; }

.icon-trash:before { content: '\e801'; }

/* ========================================================
   Todo List
   =====================================================
   ================================================== */

.todo {
    position: relative;
    margin-top: 5px;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before, .todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
    height: 1px;
    border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.todo-list li {
	left: -10px;
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
	width: calc(94% - 3.4px);
}

li input[type=checkbox] {
	display: none;
}

li input[type=checkbox]:checked + .toggle:after{
	opacity: 1;
}

.todo-list .toggle {
    display: block;
	height: 35px;
	width: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 9px;
    text-indent: 100%;
    overflow: hidden;
	cursor: pointer;
}

.toggle:after {
	content: '';
	position: absolute;
	position: absolute;
	width: 7px;
	height: 3px;
	background: transparent;
	top: 14px;
	left: 4px;
	border: 2px solid #aaa;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
}

.todo-list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    -moz-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    -moz-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before, .todo-list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
li input:disabled + .toggle:before, li input:disabled + .toggle:hover:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.todo-controls {
    margin: 0 15px 12px 50px;
    height: 12px;
}

.todo-controls li { float: left }

.todo-controls li + li { margin-left: 10px }

.todo-controls .right { float: right }

.todo-controls a {
    display: block;
    margin: 0;
    opacity: .6;
}

.todo-controls a:hover { opacity: 1 }

.todo-list li input[type="text"] {
	width: 100%;
	height: 22px;
	border: 1px solid #dfdfdf;
	color: #8b8f97;
	padding-left: 5px;
}
:root input[type="checkbox"] { /* :root here acting as a filter for older browsers */
	position: absolute;
	opacity: 0;
	display: inline;
}

:root input[type="checkbox"].ban + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, rgb(61, 153, 245) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 100%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ban:checked + div {
	padding-left: 2em;
	width: 1em;
	background-position: 0 0;
}

:root input[type="checkbox"].ban + div:before {
	content: 'Yes';
	float: left;
	width: 1.65em;
	height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em rgba(255,255,255,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}
:root input[type="checkbox"].ban:active:not(:disabled) + div:before {
	background-color: #eee;
}

:root input[type="checkbox"].ban:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ban + div:before,
:root input[type="checkbox"].ban + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

:root input[type="checkbox"].ban + div:after {
	content: 'No';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;

}